.spinner {
  animation: spin infinite 5s linear;
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
  margin: 50px auto;
  display: block;
  border-radius: 50%
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
